<div class="row">
    <ng-form id="item-form" name="itemForm">
        <fieldset ng-disabled="controls.formDisabled">
        <div class="col-xs-12 col-md-12 col-lg-12 text-center">
            <label for="password" class="text-center m-b-20px">{{ vm.passwordPlaceholder }}:</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div ng-class="{'has-error': itemForm.password.$dirty && itemForm.password.$invalid}" class="form-group">
			<input name="password" minlength="8" maxlength="50" type="password" ng-required="true" ng-model="vm.form.password" class="form-control costanswer" placeholder="{{ vm.passwordPlaceholder }}" />
            <div class="help-block error" ng-show="itemForm.password.$dirty && itemForm.password.$error.required">{{ vm.passwordHelpText }}</div>
		</div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 text-center">
            <label for="confirm" class="text-center m-b-20px">{{ vm.confirmPlaceholder }}:</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div ng-class="{'has-error': itemForm.confirm.$dirty && itemForm.confirm.$invalid}" class="form-group">
			<input name="confirm" minlength="8" maxlength="50" type="password" ng-required="true" ng-model="vm.form.confirm" class="form-control costanswer" placeholder="{{ vm.confirmPlaceholder }}" />
            <div class="help-block error" ng-show="itemForm.confirm.$dirty && itemForm.confirm.$error.required">{{ vm.confirmHelpText }}</div>
		</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <button type="button" ng-disabled="itemForm.$invalid || vm.form.password !== vm.form.confirm" class="btn btn-costanswer" ng-click="vm.checkPassword() && confirm(vm.form.password)"> {{ vm.actionText }} </button>
        </div>
        </fieldset>
    </ng-form>
</div>