<div class="row text-center visible-xs-12 visible-sm-12 hidden-md hidden-lg"><h4><b>{{ projectType }}</b></h4></div>
<div class="row">
    <div class="col-md-1 col-lg-1 text-left hidden-xs hidden-sm"><h4><b>{{ projectType }}</b></h4></div>
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
        <ul class="nav nav-pills costanswer nav-justified">
            <li role="presentation" ng-repeat = "item in datainput_header track by item.id" ><a ui-sref-active="active" ui-sref="{{ item.sref }}">{{ item.name }}</a></li>
        </ul>
    </div>
</div>
<div ui-view class="container fluid"></div>