<div class="row text-center visible-xs-12 visible-sm-12 hidden-md hidden-lg"><h4><b>{{ vm.projectType }}</b></h4></div>
<div class="row">
    <div class="col-md-1 col-lg-1 text-left hidden-xs hidden-sm"><h4><b>{{ vm.projectType }}</b></h4></div>
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
        <ul class="nav nav-pills costanswer nav-justified">
            <li role="presentation" ng-repeat = "item in vm.datainput_header track by item.id" ><a ui-sref-active="active" ui-sref="{{ item.sref }}">{{ item.name }}</a></li>
        </ul>
    </div>
</div>
<div ui-view class="container fluid"></div>
<div class="row m-t-30px">
    <div class="col-md-12 col-lg-12 text-center hidden-xs hidden-sm">
        <button type="button" class="btn btn-md btn-costanswer costanswer-fixed-width-button" ng-click="vm.clearAll()"> Clear all </button>
        <button type="button" class="btn btn-md btn-costanswer costanswer-fixed-width-button" ng-click="vm.Save()"> Save </button>
        <button ng-click="vm.DuplicateProject()" type="button" class="btn btn-md btn-costanswer"> {{ vm.duplicateButtonText }} </button>
        <button ui-sref-active="active" ui-sref="projectSettings" type="button" class="btn btn-md btn-costanswer costanswer-fixed-width-button"> Project settings </button>
        <button ui-sref-active="active" ui-sref="projectReport" type="button" class="btn btn-md btn-costanswer costanswer-fixed-width-button"> Project report </button>
    </div>
        <div class="btn-group costanswer col-xs-12 col-sm-12 text-center hidden-md hidden-lg">
            <button type="button" class="btn btn-costanswer btn-lg btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action menu <span class="caret"></span>
            </button>
        <ul class="dropdown-menu col-xs-12 col-sm-12">
            <li><a ng-click="vm.clearAll()"> Clear all </a></li>
            <li><a ng-click="vm.Save()"> Save </a></li>
            <li><a ng-click="vm.DuplicateProject()"> {{ vm.duplicateButtonText }} </a></li>
            <li><a ui-sref-active="active" ui-sref="projectSettings"> Project settings </a></li>
            <li><a ui-sref-active="active" ui-sref="projectReport"> Project report </a></li>
        </ul>
        </div>
</div>