<main class="container grow-full">
	<h2 class="main__title">Quick start</h2>
	<ul class="quick-start">
		<li><b>Step 1.</b> Choose time mode (Forecast or Actual) by pressing the appropriate button</li>
		<li><b>Step 2.</b> Fill blank cells of “Project settings” with data required</li>
		<li><b>Step 3.</b> You can skip entering any cost item by using “0” values</li>
		<li><b>Step 4.</b> Press the “Fixed Manufacturing Overhead” button</li>
		<li><b>Step 5.</b> Fill blank cells of FMOH “settings” with data required</li>
		<li><b>Step 6.</b> If your FMOH calculation is based on “Full cost applied” approach, you must fill blank cells of each type of FMOH with the values required</li>
		<li><b>Step 7.</b> Press the “FMOH report” button to see the annual fixed manufacturing overhead report</li>
		<li><b>Step 8.</b> Choose cost method by pressing the appropriate button</li>
		<li><b>Step 9.</b> Press the “Create product or service” button and fill blank cells of every costing element with the values required</li>
		<li><b>Step 10.</b> Press the “Markup” button to make the proper product or service pricing</li>
		<li><b>Step 11.</b> Press the “Report” button to see the product’s annual cost and budget report</li>
		<li><b>Step 12.</b> Press the “Project report” button to see project’s annual budget report</li>
	</ul>
	<a ng-click="next()" class="main__anchor">Setup project</a>
	<p class="main__text _center_cor"><b>Always follow the green colored buttons from the top to the bottom to navigate your current item selection.</b></p>
</main>