<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 quick-start">
<h1 class="text-center">Quick start</h1>
<ol>
<li>Choose time mode (Forecast or Actual) by pressing the appropriate button.</li>

<li>Fill blank cells of "Project settings" with data required.</li>

<li>You can skip data entering of any costing element by putting "0" values.</li>

<li>Press on "Fixed Manufacturing Overhead" button.</li>

<li>Fill blank cells of FMOH "settings" with data required.</li>

<li>If your FMOH calculation is based on "Full cost applied" approach, you have to fill blank cells of each type of  FMOH with the values required.</li> 

<li>Press on "FMOH report" button to see annual fixed manufacturing overhead report.</li>

<li>Choose costing method by pressing the appropriate button.</li>

<li>Press on "Create product or service" button and fill blank cells of every costing element with the values required.</li> 

<li>Press on "Markup" button to make the proper product (service) pricing.</li>


<li>Press on "Report" button to see the product’s annual costing and budgeting report.</li>

<li>Press on "Project report" button to see project’s annual budgeting report.</li>

</ol>
<p class="text-center"><b>Always follow the green colored buttons from the top to the bottom to navigate your current element selection.</b></p>
</div>
</div>
<!-- div class="col-xs-6">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="showOnNext" ng-click="showOnNextSave()">
                Show on next startup
        </label>
    </div -->
<hr />
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center">
        <button type="button" class="btn btn-costanswer btn-block" ng-click="next()"> Setup project</button>
        <!-- button type="button" class="btn btn-default btn-lg btn-block" ui-sref="newProjectType">Setup Project</button -->
    </div>
</div>