<div class="row">
    <div class="col-xs-6 col-xs-offset-3 start-core-link">
        <div class="list-group">
            <a ui-sref="startCore" class="list-group-item default">
                <h4 class="list-group-item-heading">New Project</h4>
                <p class="list-group-item-text">This option allow You to create new blank project</p>
            </a>
        </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3 start-core-link">
        <div class="list-group">
            <a ui-sref="startCore" class="list-group-item default disabled">
                <h4 class="list-group-item-heading">Open Project</h4>
                <p class="list-group-item-text">This option allow You to open saved existing project</p>
            </a>
        </div>
    </div>
</div>