<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 start-core-link text-center">
        <button type="button" class="btn btn-costanswer btn-lg btn-block" ui-sref="quickStart"> New project</button>
        <!-- div class="list-group">
            <a ui-sref="quickStart" class="list-group-item default">
                <h4 class="list-group-item-heading">New Project</h4>
                <p class="list-group-item-text"></p>
            </a>
        </div -->
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 start-core-link">
        <button ng-disabled="true" type="button" class="btn btn-costanswer btn-lg btn-block"> Open project</button>
        <!-- div class="list-group">
            <a ui-sref="startCore" class="list-group-item default disabled">
                <h4 class="list-group-item-heading">Open Project</h4>
                <p class="list-group-item-text"></p>
            </a>
        </div -->
    </div>
</div>