  <div class="row">
    <div class="col-xs-7 col-xs-offset-1">
      <p>
        <span class="pull-left">CostAnswer, 01011, Ukraine</span><br>
        <span class="pull-left">Copyright &copy; 2016-2016 is a service of ... All rights reserved.</span><br>
        <span class="pull-left"><u>Terms of service</u>&nbsp;|&nbsp;<u>Terms of service</u>&nbsp;|&nbsp;<u>Terms of service</u></span>
      </p>
    </div>
    <div class="col-sm-4">
      <img src="https://placeholdit.imgix.net/~text?txtsize=16&txt=Other%20Logo&w=150&h=40" class="inline-block">
      <img src="https://placeholdit.imgix.net/~text?txtsize=16&txt=CostAnswer%20Logo&w=150&h=40" class="inline-block">
    </div>
  </div>