  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <p class="text-left"><b>About</b></p>
      <p class="text-left"><a href="#">Lorem ipsum</a></p>
      <p class="text-left"><a href="#">Donec non lacinia</a></p>
      <p class="text-left"><a href="#">Aliquam a aliquam</a></p>
      <p class="text-left"><a href="#">Etiam sem justo</a></p>
    </div>
    <div class="col-xs-2">
      <p class="text-left"><b>Product</b></p>
      <p class="text-left"><a href="#">Lorem ipsum</a></p>
      <p class="text-left"><a href="#">Donec non lacinia</a></p>
      <p class="text-left"><a href="#">Aliquam a aliquam</a></p>
      <p class="text-left"><a href="#">Etiam sem justo</a></p>
      <p class="text-left"><a href="#">Donec non lacinia</a></p>
    </div>
    <div class="col-xs-2">
      <p class="text-left"><b>Partners</b></p>
      <p class="text-left"><a href="#">Lorem ipsum</a></p>
      <p class="text-left"><a href="#">Donec non lacinia</a></p>
      <p class="text-left"><a href="#">Aliquam a aliquam</a></p>
      <p class="text-left"><a href="#">Etiam sem justo</a></p>
    </div>
    <div class="col-xs-2">
      <p class="text-left"><b>Links</b></p>
      <p class="text-left"><a href="#">Lorem ipsum</a></p>
      <p class="text-left"><a href="#">Donec non lacinia</a></p>
      <p class="text-left"><a href="#">Aliquam a aliquam</a></p>
      <p class="text-left"><a href="#">Etiam sem justo</a></p>
      <p class="text-left"><a href="#">Aliquam a aliquam</a></p>
      <p class="text-left"><a href="#">Etiam sem justo</a></p>
    </div>
    <div class="col-xs-2">
      <p class="text-left"><b>Social</b></p>
      <p class="text-left"><a href="#">Lorem ipsum</a></p>
      <p class="text-left"><a href="#">Donec non lacinia</a></p>
      <p class="text-left"><a href="#">Aliquam a aliquam</a></p>
      <p class="text-left"><a href="#">Etiam sem justo</a></p>
    </div>
  </div>