<div>
    <ng-form id="item-form" name="itemForm">
        <fieldset ng-disabled="controls.formDisabled">
<div class="row">

        <div class="col-xs-12 col-md-12 col-lg-12 text-center">
            <label for="a" class="text-center">{{ controls.aMain }}:</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <table class="table table-condensed">
            <thead>
                <tr>
                    <th ng-repeat="month in monthes">{{ month.short }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td ng-repeat="i in []|range:12:1"><input name="a" ng-class="{'has-error': itemForm.a.$dirty && itemForm.a.$invalid}" type="number" ng-required="true" ng-model="form.mark_up_rate[i].value" min="0" max="100" class="form-control costanswer text-center" placeholder="{{ controls.aPlaceholder }}" /></td>
                </tr>
            </tbody>
            </table>
        </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
        <label for="b" class="text-center m-b-20px">{{ controls.bMain }}:</label>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
	<div ng-class="{'has-error': itemForm.b.$dirty && itemForm.b.$invalid}" class="form-group">
		<input name="b" type="number" min="0" max="100" ng-required="false" ng-model="form.vat_rate" class="form-control costanswer" placeholder="{{ controls.bPlaceholder }}" />
		<div class="help-block error" ng-show="itemForm.b.$dirty && itemForm.b.$error.required">{{ controls.bErrorText }}</div>
	</div>
    </div>
</div>

<div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center">
            <button type="button" ng-disabled="itemForm.$invalid" class="btn btn-costanswer" ng-click="onSave(form)"> {{ controls.buttonText }} </button>
        </div>
</div>
        </fieldset>
    </ng-form>
</div>
<div class="row">
    <div ca-instant-report report-data="instantReport"></div>
</div>