<div data-ng-cloak="true" ng-show="report">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-hover">
                <tr><th style="border-bottom: 1px;" colspan="14" class="text-center"><u>General settings:</u></th></tr>
                <tr><td colspan="3" class="text-right">Company name:</td><td colspan="4" class="text-left"><b>{{ project.company_name }}</b></td><td colspan="3" class="text-right">Product/Service:</td><td colspan="4" class="text-left"><b>{{ product.name }}</b></td></tr>
                <tr><td colspan="3" class="text-right">Currency:</td><td colspan="4" class="text-left"><b>{{ project.currency_id }}</b></td><td colspan="3" class="text-right">Meas. Unit:</td><td colspan="4" class="text-left"><b>{{ product.measurement_unit }}</b></td></tr>
                <tr><td colspan="3" class="text-right">Year to begin:</td><td colspan="4" class="text-left"><b>{{ project.begin_year }}</b></td><td colspan="3" class="text-right">Division:</td><td colspan="4" class="text-left">{{ product.division }}</td></tr>
                <tr><td colspan="3" class="text-right">Month to begin:</td><td colspan="4" class="text-left"><b>{{ project.begin_month }}</b></td><td colspan="3" class="text-right">Order #:</td><td colspan="4" class="text-left">{{ product.order_number }}</td></tr>
                <tr><td colspan="3" class="text-right">Time mode:</td><td colspan="4" class="text-left"><b>{{ project.type_id }}</b></td><td colspan="3" class="text-right"></td><td colspan="4" class="text-left"></td></tr>
                <!-- div ng-show="reportstyes[category_name].display" class="text-center" -->
                    <!-- h4 -->
                    <tbody ng-repeat="(category_name, category) in report track by $index">
                        <tr ng-show="reportstyes[category_name].display"><th style="border-bottom: 1px;" colspan="14" class="text-center">{{ category_name }}:<th></tr>
                    <!-- /h4 -->
                <!-- /div -->
                
                    <!-- thead -->
                        <tr ng-repeat="th_entry in category" ng-show="$first">
                            <th style="width: 200px;" class="text-center">Section</th><th class="text-center" ng-repeat="(th_month, th_cost) in th_entry">{{ th_month }}</th>
                        </tr>
                    <!-- /thead -->
                    <!-- tbody -->
                        <tr ng-repeat="(tr_name, tr_entry) in category">
                            <td ng-class="reportstyes[category_name][tr_name].class_name" class="text-left" style="min-width: 200px;">{{ tr_name | strTruncate:false:30 }}</td><td ng-class="reportstyes[category_name][tr_name][$index].class_name" ng-repeat="tr_cost in tr_entry">{{ tr_cost|toFixed:2|naFilter:undefined:'n/a'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>