.btn-costanswer {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    box-shadow: 0 2px 10px 0 #63430b;
    /*text-transform: uppercase;*/
}

.btn-group.costanswer > .btn-costanswer {
    padding: 5px 10px;
    font-weight: 300;
    border: none;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-group.costanswer > ul.dropdown-menu {
    background: #f1a217;
    color: #202020;
    font-weight: 300;
}
.btn-group.costanswer > ul.dropdown-menu > li > a:hover, .btn-group.costanswer > ul.dropdown-menu > li > a:active, .btn-group.costanswer > ul.dropdown-menu > li > a.active {
    background: #2a6635;
    color: #fffffc;
    font-weight: 300;
}
 
.btn-costanswer:focus, .btn-costanswer:active:focus, .btn-costanswer.active:focus {
    outline: 0 none;
}
 
.btn-costanswer {
    background: #f1a217;
    color: #202020;
}
 
.btn-costanswer:hover, .btn-costanswer:focus, .btn-costanswer:active, .btn-costanswer.active, .open > .dropdown-toggle.btn-costanswer {
    background: #2a6635;
    color: #fffffc;
}
 
.btn-costanswer:active, .btn-costanswer.active {
    background: #2a6635;
    box-shadow: none;
}
.btn-group.costanswer > ul.dropdown-menu > li > a  {
    font-size: 1.2em;
}
/* Pills */
.nav-pills.costanswer > li.item-list-pills > a.active, .nav-pills.costanswer > li.item-list-pills > a.active:hover, .nav-pills.costanswer > li.item-list-pills a.active:focus {
    color: #fffffc;
    background-color: #2a6635;
}
.nav-pills.costanswer > li > a.active, .nav-pills.costanswer > li > a:hover, .nav-pills.costanswer > li > a:focus {
    color: #fffffc;
    background-color: #358042;
}
.nav-pills.costanswer > li > a {
    margin-left: 2px;
    color: #202020;
    background-color: #f1a217;
}
.nav-pills.costanswer > li.footed > a {
    border-radius: 2px 10px 0 0;
    margin: 0;
}
.nav-pills.costanswer > li.footed > a.active {
    background-color: #2a6635;
    color: #fffffc;
}
/*.nav-pills.costanswer > li.footed > a.active, .nav-pills.costanswer > li.footed > a.active:hover, .nav-pills.costanswer > li.footed > a.active:focus {
    background-color: #2a6635;
    color: #fffffc;
}*/
.tab-content.footed {
    padding: 0;
}
.tab-content.footed > .tab-pane.costanswer {
    margin-top: 0;
    background-color: #f1a217;
    color: #202020;
    font-weight: 700;
    padding: 4px;
    border-radius: 0 4px 4px 4px;
    
}
.tab-content.footed > .tab-pane.costanswer.active {
    background-color: #2a6635;
    color: #fffffc; 
}

/* Tabs */
.nav-tabs.costanswer {
    border-bottom: 1px solid #f1a217;
}
.nav-tabs.costanswer > li > a.inactive-tab {
    white-space: nowrap;
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #202020;
    background-color: #f1a217;
}
.nav-tabs.costanswer > li.active > a, .nav-tabs.costanswer > li.active > a:hover, .nav-tabs.costanswer > li.active > a:focus {
  white-space: nowrap;
  width: auto;
  color: #fffffc;
  background-color: #358042;
}