.list-group-item.costanswer {
    padding: 14px 24px;
    border: 0 none;
    box-shadow: 0 2px 10px 0 #63430b;
    background: #f1a217;
    color: #202020;
    border: 1px solid #a7874f;
}
.list-group-item.costanswer.disabled {
    padding: 14px 24px;
    border: 0 none;
    box-shadow: 0 2px 10px 0 black;
    background: #fffffc;
    color: #505050;
    border: 1px solid #b0b0b0;
}
a.list-group-item.costanswer .list-group-item-heading {
    font-weight: bolder;
    color: inherit;
}
.list-group-item.costanswer:focus, .list-group-item.costanswer:active:focus, .list-group-item.costanswer.active:focus {
    outline: 0 none;
}
.list-group-item.costanswer:hover, .list-group-item.costanswer:focus, .list-group-item.costanswer:active, .list-group-item.costanswer.active {
    background: #2a6635;
    color: #fffffc;
}
.list-group-item.costanswer.disabled:hover, .list-group-item.costanswer.disabled:focus, .list-group-item.costanswer.disabled:active, .list-group-item.costanswer.disabled.active {
    color: #505050;
    background: #f0f0f0;
}
/* select centered */
.bootstrap-select.btn-group .dropdown-menu li > a {
    text-align: center;
}