[ui-view].ng-enter, [ui-view].ng-leave {
  position: relative;
  left: 0;
  right: 0;
   transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
   -o-transition: opacity 1s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
  visibility: hidden;
}

[ui-view].ng-enter-active {
  opacity: 1;
  visibility: visible;
}

[ui-view].ng-leave {
  opacity: 1;
  visibility: visible; 
}

[ui-view].ng-leave-active {
  opacity: 0;
  visibility: hidden;
}