*, :before, :after{
	margin:0;
	padding:0;
	border:0;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	height: 100%;
}
body {
	padding:0;
	margin:0;
	border:0;
	min-height: 100%;
	min-width:100%;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	line-height:34px;
	background-color:#ffffff;
}
a{
	cursor:pointer;
	text-decoration:none;
}
input, button, textarea,select{
	outline:none;
}
.flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.inline-flex, .nav li, .nav li a {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.justify-between{
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.justify-around{
	-webkit-box-pack: justify;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.justify-end{
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.justify-start{
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.justify-center{
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.align-center, .nav li, .nav li a {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.align-start{
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.align-end{
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.align-baseline{
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
.column{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-wrap{
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.container{
	width:100%;
	padding:0px 20px;
	max-width:1170px;
	margin:0px auto;
}
header {
    position: relative;
	height: 85px;
}
.logo {
	width:auto;
}
.top-menu {
    height: 85px;
}
.top-menu>*{
	float:none;
	height:100%;
}
.logo__png{
	width:250px;
}
.logo > span{
	position:static;
	font-family: Times New Roman, sans-serif;
	font-size: 27px;
}
.nav{
	list-style-type:none;
	padding-right: 15px;
	height: 100%;
}
.nav li {
	height:100%;
}
.nav li a {
    text-transform: uppercase;
    font-family: 'FRABK';
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    height: 21px;
    height: 100%;
}
.active-l a {
    background: #ff9934;
	font-weight:900;
	color: #fff !important;
}
.nav li a:hover, .log-in a:hover, .footer__anchor:hover  {
	color:#F2B817;
}
.log-in{
	width:auto;
}
.log-in a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'FRABK';
}
.log-in span {
    color: #fff;
    font-size: 18px;
	padding:0px 5px
}
.log-in a , .nav li a , .footer__anchor {
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-ms-transition: color 1s ease;
	transition: color 1s ease;
}
.page-img{
	position:relative;
	background: url(main-page.jpg) 57% 38% no-repeat;
	background-size: cover;
	min-height:590px;
}
.page-img__shadow{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMjIxZDFkIiBzdG9wLW9wYWNpdHk9IjAuNSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzIyMWQxZCIgc3RvcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjAuNiIvPjxzdG9wIHN0b3AtY29sb3I9IiMyMjFkMWQiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgba(34, 29, 29, 0.5)),color-stop(0.6, rgba(34, 29, 29, 0)),color-stop(1, rgba(34, 29, 29, 0)));
    background-image: -webkit-repeating-linear-gradient(left,rgba(34, 29, 29, 0.5) 0%,rgba(34, 29, 29, 0) 60%,rgba(34, 29, 29, 0) 100%);
    background-image: repeating-linear-gradient(to right,rgba(34, 29, 29, 0.5) 0%,rgba(34, 29, 29, 0) 60%,rgba(34, 29, 29, 0) 100%);
    background-image: -ms-repeating-linear-gradient(left,rgba(34, 29, 29, 0.5) 0%,rgba(34, 29, 29, 0) 60%,rgba(34, 29, 29, 0) 100%);
}
.page-img__wrap{
	position:relative;
}
.page-img__tit{
	font-size: 50px;
    line-height: 57px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 2px 2px 2px #221d1d;
    max-width: 500px;
    padding-top: 70px;
    text-transform: uppercase;
}
.page-img__hr{
	margin: 20px 0px;
	width:35%;
	height:5px;
	background-color:#ffffff;
	max-width:100px;
}
.page-img .page-img__cont,
.action-man .page-img__cont{
	font-size: 30px;
	line-height:36px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: initial;
    width: 100%;
	max-width:500px;
    text-align: left;
    margin: 0px;
    padding-top: 0px;
	text-shadow: 1px 1px 1px #221d1d;
}
.page-img__arrow{
	position:absolute;
	bottom:30px;
	left:calc(50% - 15px);
	width: 65px;
    height: 65px;
	border-radius:50%;
	overflow:hidden;
	background-color:#ff9934;
	color:#ffffff;
	font-size: 40px;
    padding-top: 5px;
	cursor:pointer;
}
.block-img__text{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	font-size: 19px;
	line-height:20px;
    color: #ffffff;
	text-shadow: 1px 1px 1px #221d1d;
	padding:15px 10px;
	background-color: rgba(255, 153, 52, 0.75);
	text-align:center;
	height: 100px;
}
.start-anchor._action_cor._page-main_cor{
	margin-top: 25px;
	text-align: center;
}
.dayily__title{
	margin-top: 70px;
    font-size: 45px;
    text-align: right;
    line-height: 55px;
    letter-spacing: -2px;
    font-weight: 700;
    color: #221d1d;
    text-transform: uppercase;
	width:100%;
}
.dayily__hr{
	margin: 30px 0px;
    width: 35%;
    height: 7px;
    background-color: #ff9934;
    max-width: 500px;
}
.dayily__cont{
	font-size: 30px;
    line-height: 36px;
    text-align: right;
    color: #7a7272;
	width:100%;
}
.block-img{
	padding-left:0px;
	margin-bottom:40px;
}
.block-img__wrap{
	position:relative;
	width: calc((100% - 180px)/4);
}
.block-img img {
    width: 100%;
    height: auto;
    margin: 0px;
	display: block;
	-webkit-filter: grayscale(70%);
	-moz-filter: grayscale(70%);
	-o-filter: grayscale(70%);
	-ms-filter: grayscale(70%);
	 filter: grayscale(70%);
	 -webkit-transition: filter 0.5s;
	-moz-transition: filter 0.5s;
	-ms-transition: filter 0.5s;
	transition: filter 0.5s;
}
.block-img img:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	 filter: grayscale(0%);
}
.hworks{
	background-color:rgb(239, 239, 239);
	padding:0px 0px 40px;
}
.dayily__title._hworks__cor{
	max-width:100%;
	text-align:left;
	width: 100%;
}
.hworks__top{
	width:100%;
}
.hworks__left{
	width:400px;
}
.hworks__part{
	width: 300px;
}
.hworks__part__img__wrap{
	position:relative;
	padding-left:50px;
}
.hworks__part__img{
	display:block;
	width:100%;
}
.hworks__part__red{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:50px;
	background-color:#ff9934;
	overflow:hidden;
}
.hworks__part__red__text{
	font-size: 28px;
    line-height: 28px;
    letter-spacing: -1px;
	font-weight:900;
    color: #ffffff;
	text-transform:uppercase;
	text-align: center;
	text-shadow: 1px 1px 1px #221d1d;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	transform:rotate(-90deg);
	height:30px;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	-o-transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
    position: absolute;
    bottom: 0px;
    left: 25px;
}
.hworks__part__cont{
	font-size: 17px;
    line-height: 32px;
	padding-top:15px;
	color: #221d1d;
}
.hworks__left__i{
	margin-left: 120px;
    font-size: 60px;
    color: #221d1d;
    text-align: center;
}
._bot_cor .hworks__left__i{
	margin-left: 0px;
}
.hworks__right{
	width:calc(100% - 400px);
}
.hworks_right__img{
	width:100%;
	max-width:600px;
}
.start-anchor{
	font-size: 30px;
    line-height: 34px;
    padding: 20px 85px;
	background-color: #ff9934;
    color: #ffffff;
	border-radius: 7px;
    margin-top: 100px;
	-webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	-ms-transition: background-color 1s ease;
	transition: background-color 1s ease;
}
.start-anchor:hover{
	background-color:#2a6535 !important;
}
.features{
	width:calc(25% - 10px);
	padding:40px 30px;
	border: 3px solid #e7e3e3;
	font-size: 17px;
    line-height: 32px;
    color: #221d1d;
	border-radius: 7px;
	margin-bottom:30px;
	-webkit-transition: box-shadow 1s, transform 1s ease;
	-moz-transition: box-shadow 1s, transform 1s ease;
	-ms-transition: box-shadow 1s, transform 1s ease;
	transition: box-shadow 1s, transform 1s ease;
}
.features:hover{
	-webkit-box-shadow: 0px 0px 30px 0px rgba(34,29,29,0.15);
	-moz-box-shadow: 0px 0px 30px 0px rgba(34,29,29,0.15);
	box-shadow: 0px 0px 30px 0px rgba(34,29,29,0.15);
	-webkit-transform:scale(1.01);
	-moz-transform:scale(1.01);
	-ms-transform:scale(1.01);
	transform:scale(1.01);
}
.features__img{
	width: 165px;
    height: 148px;
    margin-bottom: 45px;
}
.features__anchor{
	margin-top: 30px;
	display: inline-block;
    background-color: #ff9934;
    color: #ffffff !important;
	font-size:22px;
	text-align: center !important;
    border-radius: 5px;
    margin-bottom: 50px;
	width: 195px;
    padding: 5px 20px 8px;
    cursor: pointer;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;
	transition: background-color 1s;
	text-decoration: none !important;
}
.features__anchor:hover{
	background-color:#2a6535;
}
.dayily__hr._features_features{
	float:right;
	margin-bottom: 60px;
}
.features__wrap{
	clear:both;
}
.features p{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width:100%;
	text-align:center;
}
.action-man {
    background: url(man-img.jpg) top center no-repeat;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
	position:relative;
}
.start-anchor._action_cor{
	margin-top: 0px;
    display: inline-block;
    background-color: #ff9934;
    color: #ffffff;
    margin-bottom: 50px;
	cursor:pointer;
}
.action-man .page-img__cont{
	padding-top: 70px;
}
.action-man__wrap{
	position: relative;
    padding-bottom: 290px;
    padding-top: 70px;
}
.method__part{
	width:50%;
	padding:0px 50px 35px 30px;
	min-height: 500px;
}
.method__part__tit{
	margin-top: 40px;
    font-size: 31px;
    line-height: 37px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #221d1d;
    text-transform: uppercase;
	width:100%;
}
.method__part__cont{
	font-size: 18px;
    line-height: 24px;
    color: #221d1d;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width:100%;
}
.method__part._one_img{
	background:transparent url(../assets/woimg.png) top right no-repeat;
	background-size:cover;
}
.method__part._two_img{
	background:transparent url(../assets/woimg1.png) top center no-repeat;
	background-size:cover;
}
.method__part._three_img{
	background:transparent url(../assets/woimg2.png) top center no-repeat;
	background-size:cover;
}
.method__part._thour_img{
	background:transparent url(../assets/woimg3.png) top center no-repeat;
	background-size:cover;
}
.dayily__hr._methods_cor{
	margin: 20px 0px;
    height: 4px;
}
.method__part._right_cor{
	padding: 0px 30px 35px 50px;
}
.method__part._right_cor .method__part__tit,
.method__part._right_cor .features__anchor,
.method__part._right_cor .method__part__cont{
	text-align:right;
}
.method__part._red_cor{
	background-color: #ff9934;
	color:#ffffff;
}
.method__part._red_cor .features__anchor,
.method__part._red_cor .method__part__tit,
.method__part._red_cor .method__part__cont{
	color:#ffffff;
}
.method__part._red_cor .dayily__hr{
	background-color: #ffffff;
}
.methods{
	padding-bottom:40px;
}
.features._pricing_cor{
	width:calc((100% - 60px)/3);
	min-height:400px;
	max-width:250px;
	margin:40px 0px 30px;
}
.pricing__month{
	width: 140px;
    height: 140px;
    border: 3px solid #ff9934;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 45px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    color: #aa9e9e;
}
.features._pricing_cor p{
	width: 100%;
    text-align: center;
    font-weight: 700;
    color: #aa9e9e;
}
.info {
    background: url(man2.jpg) top left no-repeat;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
	min-height: 800px;
}
.contact__shadow{
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0,0,0,0)) 0 0, linear-gradient(45deg, rgba(0,0,0,0) 75%, rgba(34, 29, 29, 0.2) 75%) 0 0, linear-gradient(45deg, rgba(0,0,0,0) 75%, rgba(34, 29, 29, 0.2) 75%) -3em 3em, linear-gradient(45deg, rgba(34, 29, 29, 0.2) 25%, rgba(0,0,0,0) 25%) 3em -3em;
    background-size: 2em 1em;
    background-color: rgba(34, 29, 29, 0.4);
}
.page-img__tit._contact_cor,
.soc{
	width:100%;
	max-width:100%;
}
.soc{
	padding-bottom:40px;
}
.container._cont_cor{
	position:relative;
	max-width:850px;
}
.contact__form{
	width:100%;
	margin-bottom:40px;
}
.contact__form__el{
	font-size: 14px;
    color: #221d1d;
    padding: 11px 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e7e3e3;
    -webkit-box-shadow: inset 5px 5px 8px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: inset 5px 5px 8px 0px rgba(0,0,0,0.22);
    box-shadow: inset 5px 5px 8px 0px rgba(0,0,0,0.22);
}
.contact__form__inp{
	width:calc(50% - 10px);
}
.contact__form__arr{
	width:100%;
	resize: none;
}
.face__img {
    display: block;
    width: 14px;
    height: 29px;
    margin-bottom:10px;
}
.face{
	color:#ffffff;
}
.twit__img {
    display: block;
    width: 35px;
    height: 29px;
    margin-bottom:10px;
}
.linked__img{
    display: block;
    width: 29px;
    height: 29px;
    margin-bottom:10px;
}
.google__img {
    display: block;
    background: url(google.png) no-repeat;
    width: 29px;
    height: 29px;
    margin-bottom:10px;
}
.face p{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
footer {
    background-color: #221D1D;
    height: auto;
	padding: 20px 0px;
	margin: 30px 0px 0px 0px;
}
.footer__cont {
    margin: 0px !important;
    font-size: 14px;
    color: #d7d6d6;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 0px;
    width: calc(100% - 300px);
    float: none;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.footer__anchor {
    padding: 0px 15px;
    font-size: 14px;
    color: #d7d6d6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
}
#back-top {
    width: 50px !important;
    height: 50px !important;
    padding: 0px;
    border-radius: 50%;
	overflow:hidden;
    text-indent: 0px;
    cursor: pointer;
    z-index: 999999999;
    display: none;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background: #ff9934 url(up-arrow.png) center center no-repeat;
    background-size: 50% 50%;
}
.start-anchor._action_cor._form_cor{
	padding:20px 113px;
	margin:0px auto 50px;
}
.features__anchor._sub_cor{
	width:100%;
	max-width:195px;
}
@media (max-width: 1170px),(max-device-width: 1170px) {
	.logo > span{
		font-size: 18px;
	}
	.nav li a{
		font-size: 15px;
		padding: 5px;
	}
	.menu{
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
	.log-in a {
		font-size: 13px;
	}
	.logo__png {
		width: 200px;
	}
	header, .top-menu {
		height: 70px;
	}
}
@media (max-width: 1050px),(max-device-width: 1050px) {
	.hworks__part__cont {
		font-size: 16px;
		line-height: 27px;
		padding-top: 10px;
	}
	.features{
		font-size: 16px;
		line-height: 27px;
	}
	.hworks__part__red__text{
		font-size: 22px;
		line-height: 22px;
		height: 22px;
	}
	.hworks__part {
		width: 235px;
	}
	.hworks__left__i {
		margin-left: 87px;
		font-size: 50px;
	}
	.start-anchor{
		margin-top: 40px;
	}
	.method__part__cont{
		font-size: 16px;
		line-height: 21px;
	}
	.method__part__tit{
		font-size: 24px;
		line-height: 31px;
	}
}
@media (max-width: 992px),(max-device-width: 992px) {
	.logo > span {
		font-size: 16px;
	}
	.nav li a{
		font-size: 13px;
	}
	.dayily__title{
		font-size: 45px;
		line-height: 54px;
	}
	.dayily__cont {
		font-size: 22px;
		line-height: 30px;
	}
	.pricing__month{
		width: 90px;
		height: 90px;
		font-size: 21px;
		line-height: 21px;
	}
	.features._pricing_cor {
		min-height: 400px;
		max-width: 250px;
		margin: 30px 0px;
	}
	.info,.action-man{
		background-attachment: inherit;
	}
}
@media (max-width: 880px),(max-device-width: 880px) {
	.flex-768{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.justify-between-768{
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.justify-center-768{
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.align-center-768{
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.align-stretch-768{
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
	.column-768{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.row-768{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: inherit;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.align-end-768{
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.align-start-768{
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.flex-wrap-768{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.display-none-768{
		display:none;
	}
	.menu {
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-box-ordinal-group: 3;
		-webkit-order: 3;
		-ms-flex-order: 3;
		order: 3;
		width:35px;
		height:30px;
		border-bottom:2px solid #fffffc;
		border-top:2px solid #fffffc;
		cursor:pointer;
	}
	.menu:before {
		content:"";
		display:block;
		height:2px;
		background-color:#fffffc;
		margin-top:12px;
	}
	.nav{
		height:auto;
		position:absolute;
		top:-326px;
		z-index: 1;
		right:0px;
		left:0px;
		width:100%;
		padding:10px;
		background: #221d1d;
		-webkit-transition: top 1s ease;
		-moz-transition: top 1s ease;
		-ms-transition: top 1s ease;
		transition: top 1s ease;
	}
	.nav li {
		height: auto;
		display: block;
		width: 100%;
	}
	.menu.toggle .nav{
		top:70px;
	}
	.nav li a {
		text-align: left;
		padding: 0px 30px;
		display: block;
	}
	.page-img__tit {
		font-size: 40px;
		line-height: 53px;
		max-width: 375px;
		padding-top: 50px;
	}
	.page-img .page-img__cont{
		font-size: 24px;
		line-height: 30px;
		max-width: 375px;
	}
	.page-img {
		min-height: 400px;
	}
	.dayily__title{
		font-size: 33px;
		line-height: 48px;
		margin-top: 50px;
	}
	.dayily__hr {
		margin: 20px 0px;
		width: 35%;
	}
	.block-img__wrap{
		width: calc((100% - 100px)/2);
	}
	.hworks__left,
	.dayily__title._hworks__cor,
	.hworks__part._big_cor{
		width: 100%;
	}
	.hworks__part._big_cor{
		max-width: 440px;
		margin: 0px auto 20px;
	}
	.hworks__right {
		width: 100%;
		margin: 30px auto 40px;
	}
	.hworks__left__i{
		margin-left: 0px;
		font-size: 30px;
	}
	.hworks__left__i:before{
		content: "\f105";
	}
	.hworks__part {
		width: calc(50% - 25px);
		margin-bottom: 20px;
	}
	.hworks{
		position:relative;
		padding-bottom:630px;
	}
	.hworks._pricing_cor{
		padding-bottom:40px;
	}
	.hworks__right {
		position:absolute;
		bottom:0px;
		left:0px;
		right:0px;
	}
	.hworks_right__img {
		width: calc(100% - 284px);
	}
	.features {
		width: calc(50% - 10px);
	}
	.action-man .page-img__cont{
		padding-top: 50px;
		font-size: 24px;
		line-height: 30px;
	}
	.method__part {
		min-height: 400px;
	}
	.action-man__wrap {
		padding-bottom: 150px;
		padding-top: 220px;
	}
}
@media (max-width: 760px),(max-device-width: 760px) {
	.hworks {
		padding-bottom: 535px;
	}
}
@media (max-width: 700px),(max-device-width: 700px) {
	.method__part {
		padding: 0px 20px 20px 10px;
		min-height: 300px;
	}
	.method__part._right_cor {
		padding: 0px 10px 20px 20px;
	}
	.info {
		background: url(man2.jpg) 20% 15% no-repeat;
		background-size: cover;
	}
}
@media (max-width: 660px),(max-device-width: 660px) {
	.hworks {
		padding-bottom: 455px;
	}
}
@media (max-width: 630px),(max-device-width: 630px) {
	.row-630{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: inherit;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.justify-center-630{
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.align-start-630{
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.flex-wrap-630{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.page-img__tit {
		font-size: 31px;
		line-height: 41px;
		max-width: 290px;
		padding-top: 35px;
	}
	.page-img .page-img__cont {
		font-size: 21px;
		line-height: 27px;
		max-width: 290px;
	}
	.page-img {
		min-height: 370px;
	}
	.page-img__arrow{
		bottom:20px;
	}
	.dayily__title {
		font-size: 24px;
		line-height: 33px;
		margin-top: 35px;
	}
	.dayily__cont {
		font-size: 18px;
		line-height: 24px;
	}
	.block-img__wrap{
		width: calc((100% - 60px)/2);
	}
	.block-img {
		margin: 20px 0px 30px;
	}
	.hworks__part__red__text {
		font-size: 20px;
		line-height: 20px;
		bottom: -5px;
		height: 20px;
	}
	.start-anchor {
		font-size: 30px;
		line-height: 30px;
		padding: 10px 50px;
	}
	.hworks_right__img {
		width: calc(100% - 192px);
	}
	.action-man .page-img__cont{
		padding-top: 35px;
		font-size: 21px;
		line-height: 27px;
		max-width: 450px;
	}
	.features._pricing_cor{
		width:100%;
		margin:20px 0px 0px;
		display:block;
		overflow:hidden;
		max-width:100%;
		min-height:0px;
	}
	.pricing__month {
		width: 65px;
		height: 65px;
		font-size: 16px;
		line-height: 16px;
		margin:0px 15px 0px 0px;
		float:left;
	}
	._pricing_cor .features__anchor{
		margin-top:5px;
		float: right;
	}
	.footer__cont{
		width:100%;
		text-align:center;
	}
}
@media (max-width: 550px),(max-device-width: 550px) {
	.hworks {
		padding-bottom: 410px;
	}
}
@media (max-width: 500px),(max-device-width: 500px) {
	.column-500{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.align-start-500{
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.align-center-500{
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	.display-block-500{
		display:block;
	}
	.hworks__part {
		width: 100%;
		margin-bottom: 20px;
	}
	.start-anchor {
		margin-top: 20px;
		padding: 10px 45px;
	}
	.hworks_right__img {
		width: 100%;
	}
	.hworks__left__i,
	.hworks__left__i__wrap	{
		width: 100%;
	}
	.hworks__left__i:before {
		content: "\f107";
	}
	.features {
		width: 100%;
	}
	.method__part,
	.method__part._right_cor{
		width:100%;
		padding:0px 0px 20px;
	}
	._from_back{
		-webkit-box-ordinal-group: 1;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}
	.method__part._right_cor .method__part__tit,
	.method__part._right_cor .features__anchor,
	.method__part._right_cor .method__part__cont {
		text-align: left;
	}
	.method__part._red_cor {
		background-color: transparent;
		color: #221d1d;
	}
	.method__part._red_cor .dayily__hr {
		background-color: #ff9934;
	}
	.method__part._red_cor .method__part__tit,
	.method__part._red_cor .method__part__cont {
		color: #221d1d;
	}
	.method__part._red_cor .features__anchor{
		color: #ff9934;
	}
	.features._pricing_cor p {
		font-size: 14px;
		line-height: 21px;
	}
	.contact__form__inp {
		width: 100%;
	}
	.contact__form {
		margin-bottom: 0px;
	}
	.face {
		width:50%;
		margin-bottom:20px;
	}
	.action-man__wrap {
		padding-bottom: 50px;
		padding-top: 140px;
	}
	.block-img__text{
		font-size: 16px;
	}
	.hworks {
		padding-bottom: 510px;
	}
}
@media (max-width: 430px),(max-device-width: 430px) {
	.hworks {
		padding-bottom: 450px;
	}
	.logo__svg {
		width: 64px;
		height: 48px;
	}
	.logo > span {
		font-size: 15px;
	}
	.log-in a {
		font-size: 14px;
	}
	.logo__png {
		width: 150px;
	}
	header, .top-menu {
		height: 50px;
	}
	.menu.toggle .nav{
		top:50px;
	}
}
@media (max-width: 400px),(max-device-width: 400px) {
	.menu{
		width: 30px;
		height: 24px;
	}
	.menu:before {
		margin-top: 9px;
	}
	.logo > span {
		font-size: 14px;
	}
	.log-in a {
		font-size: 14px;
	}
	header, .top-menu {
		height: 50px;
	}
	.menu.toggle .nav{
		top: 50px;
	}
	.page-img__tit {
		font-size: 24px;
		line-height: 31px;
		max-width: 200px;
		padding-top: 25px;
	}
	.page-img .page-img__cont {
		font-size: 16px;
		line-height: 21px;
		max-width: 200px;
	}
	.page-img {
		min-height: 320px;
	}
	.page-img__arrow{
		bottom:10px;
	}
	.dayily__title {
		font-size: 23px;
		line-height: 31px;
		margin-top: 35px;
	}
	.dayily__cont {
		font-size: 16px;
		line-height: 21px;
	}
	.block-img__wrap{
		width: 100%;
	}
	.action-man .page-img__cont {
		font-size: 16px;
		line-height: 21px;
		max-width: 300px;
	}
	.method__part {
		min-height: 250px;
	}
	.features._pricing_cor{
		padding:10px;
	}
	.start-anchor._action_cor._form_cor {
		padding: 20px 50px;
		margin: 0px auto 30px;
		width: 100%;
	}
	.block-img__text {
		height:70px;
	}
}
@media (max-width: 380px),(max-device-width: 380px) {
	.hworks {
		padding-bottom: 410px;
	}
	.menu{
		margin-left:5px;
		width: 25px;
	}
	.logo{
		padding-right:0px;
	}
	.logo__svg {
		width: 48px;
		height: 36px;
	}
	.logo > span {
		font-size: 13px;
	}
	.log-in a {
		font-size: 12px;
	}
}
@media (max-width: 340px),(max-device-width: 340px) {
	.hworks {
		padding-bottom: 370px;
	}
}