<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                <div class="row">
                    <div class="well costanswer subscription description">
                        <h1>1</h1>
                        <h4>month</h4>
                        <h4>subscription</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="well costanswer subscription price">FREE!</div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                <div class="row">
                    <div class="well costanswer subscription description">
                        <h1>6</h1>
                        <h4>month</h4>
                        <h4>subscription</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="well costanswer subscription price">FREE!</div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                <div class="row">
                    <div class="well costanswer subscription description">
                        <h1>12</h1>
                        <h4>month</h4>
                        <h4>subscription</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="well costanswer subscription price">FREE!</div>
                </div>
            </div>
        </div>
    </div>
</div>