<div class="flex grow-full justify-around flex-wrap">
    <div class="features _pricing_cor flex column justify-between align-center">
        <span class="pricing__month flex justify-center align-center">1<br>month</span>
        <p>Subscription</p>
        <span class="features__anchor _sub_cor">Free</span>
    </div>
    <div class="features _pricing_cor flex column justify-between align-center">
        <span class="pricing__month flex justify-center align-center">6<br>months</span>
        <p>Subscription</p>
        <span class="features__anchor _sub_cor">Free</span>
    </div>
    <div class="features _pricing_cor flex column justify-between align-center">
        <span class="pricing__month flex justify-center align-center">12<br>months</span>
        <p>Subscription</p>
        <span class="features__anchor _sub_cor">Free</span>
    </div>
</div>