<main class="container grow-full">
    <h3 class="main__title _monch_cor">Billing and upgrade</h3>
    <div class="flex align-start justify-between flex-wrap">
      <div class="monch__wrap flex justify-around flex-wrap" ui-view></div>
      <ul class="left-submenu">
        <li><a ui-sref-active="active" class="left-submenu_cor-form__bot__but" ui-sref="dashboard.Projects">My Projects</a></li>
        <li><a ui-sref-active="active" class="left-submenu_cor-form__bot__but" ui-sref="dashboard.Settings">Account Settings</a></li>
        <li><a ui-sref-active="active" class="left-submenu_cor-form__bot__but" ui-sref="dashboard.Billing">Billing and upgrade</a></li>
      </ul>
    </div>
</main>