<div class="row">
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-tabs">
        <li ng-class="{ active: tab.filter == vm.type_filter }" ng-repeat="tab in vm.tabs track by $index" role="presentation"><a ng-click="vm.setFilterValue(tab.filter)">{{ tab.text }}</a></li>
    </ul>
  <!-- Table -->
  <table class="table table-hover costanswer-report">
      <thead>
          <tr style="width: 200px; border-bottom: 1px solid black !important;">
              <th>Project name</th><th>Date</th><th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr dir-paginate="project in vm.projects | filter: { type_id: vm.type_filter } | itemsPerPage: 20 track by project.id">
              <td><a ng-click="vm.OpenProject(project.uuid)">{{ project.name }}</a></td>
              <td>{{ project.created_at | date:'yyyy-MM-dd' }}</td>
              <td> Save as | <a ng-click="vm.DeleteProject(project)"> Delete </a></td>
          </tr>
      </tbody>
  </table>
  <div>
    <dir-pagination-controls></dir-pagination-controls>
  </div>
  </div>
</div>
</div>