<div class="row">
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-tabs">
        <li ng-class="{ active: tab.filter == vm.type_filter }" ng-repeat="tab in vm.tabs track by $index" role="presentation"><a ng-click="vm.setFilterValue(tab.filter)">{{ tab.text }}</a></li>
    </ul>
  <!-- Table -->
  <table class="table table-hover costanswer-report">
      <thead>
          <tr style="width: 200px; border-bottom: 1px solid black !important;">
              <th>Project name</th><th>Created at</th><th>Tools</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="project in vm.projects | filter: { type_id: vm.type_filter } track by project.id">
              <td>{{ project.company_name }}</td>
              <td>{{ project.created_at | date:'yyyy-MM-dd' }}</td>
              <td> Save as | Delete </td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
</div>