<div class="monch__wrap _project_cor">
    <ul class="menu-tabs flex align-end justify-between">
        <li ng-class="{ active: tab.filter == vm.type_filter }" ng-repeat="tab in vm.tabs track by $index" role="presentation"><a ng-click="vm.setFilterValue(tab.filter)">{{ tab.text }}</a></li>
    </ul>
    <table class="tabs__cont" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Project name</th><th>Date</th><th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="project in vm.projects | filter: { type_id: vm.type_filter } | itemsPerPage: 20 track by project.id">
                <td><a ng-click="vm.OpenProject(project.uuid)" title="{{ vm.openButtonText }}">{{ project.name }}</a></td>
                <td>{{ project.created_at | date:'yyyy-MM-dd' }}</td>
                <td><a ng-click="vm.DuplicateProject(project)"> {{ vm.duplicateButtonText }} </a> | <a ng-click="vm.DeleteProject(project)"> {{ vm.deleteButtonText }} </a></td>
            </tr>
        </tbody>
    </table>
</div>