<div class="monch__wrap">
        <form class="login-form _settings_cor flex column">
        <ng-form class="login-form _settings_cor flex column" id="settings-form" name="vm.settingsForm">
            <div ng-class="{'has-error': vm.settingsForm.display_name.$dirty && vm.settingsForm.display_name.$invalid}" class="login-form__inp__wrap">
                <p class="contact__form__inp flex">
                    <label for="formEmail" class="contact__form__lab flex align-center justify-center"><i class="fa fa-user" aria-hidden="true"></i></label>
                    <input name="display-name" type="text" id="formEmail" ng-required="true" ng-model="vm.settings.display_name" class="contact__form__el" placeholder="Enter your display name" />
                </p>
                <p class="form-error" ng-show="vm.settingsForm.display_name.$dirty && vm.settingsForm.display_name.$error.required">Please, fill in your display name</p>
            </div>
            <div ng-class="{'has-error': vm.settingsForm.company_name.$dirty && vm.settingsForm.company_name.$invalid}" class="login-form__inp__wrap">
                <p class="contact__form__inp flex">
                    <label for="formEmail" class="contact__form__lab flex align-center justify-center"><i class="fa fa-industry" aria-hidden="true"></i></label>
                    <input name="company" type="text" id="formEmail" ng-required="true" ng-model="vm.settings.company_name" class="contact__form__el" placeholder="Enter your company name here" />
                </p>
                <p class="form-error" ng-show="vm.settingsForm.company_name.$dirty && vm.settingsForm.company_name.$error.required">Please, fill in your company name</p>
            </div>
            <div ng-class="{'has-error': vm.settingsForm.city.$dirty && vm.settingsForm.city.$invalid}" class="login-form__inp__wrap">
                <p class="contact__form__inp flex">
                    <label for="formEmail" class="contact__form__lab flex align-center justify-center"><i class="fa fa-university" aria-hidden="true"></i></label>
                    <input name="city" type="text" id="formEmail" ng-required="true" ng-model="vm.settings.city" class="contact__form__el" placeholder="Enter your city here" />
                </p>
                <p class="form-error" ng-show="vm.settingsForm.city.$dirty && vm.settingsForm.city.$error.required">Please, fill in your city</p>
            </div>
            <div ng-class="{'has-error': vm.settingsForm.country.$dirty && vm.settingsForm.country.$invalid}" class="login-form__inp__wrap">
                <p class="contact__form__inp flex">
                    <label for="formEmail" class="contact__form__lab flex align-center justify-center"><i class="fa fa-flag" aria-hidden="true"></i></label>
                    <input name="country" type="text" id="formEmail" ng-required="true" ng-model="vm.settings.country" class="contact__form__el" placeholder="Enter your country here" />
                </p>
                <p class="form-error" ng-show="vm.settingsForm.country.$dirty && vm.settingsForm.country.$error.required">Please, fill in your country</p>
            </div>
            <div ng-class="{'has-error': vm.settingsForm.website.$dirty && vm.settingsForm.website.$invalid}" class="login-form__inp__wrap">
                <p class="contact__form__inp flex">
                    <label for="formEmail" class="contact__form__lab flex align-center justify-center"><i class="fa fa-globe" aria-hidden="true"></i></label>
                    <input name="web" type="url" id="formEmail" ng-required="true" ng-model="vm.settings.website" class="contact__form__el" placeholder="Enter your website here" />
                </p>
                <p class="form-error" ng-show="vm.settingsForm.website.$dirty && vm.settingsForm.website.$error.required">Please, fill in your website</p>
            </div>
            <div ng-class="{'has-error': vm.settingsForm.business_profie.$dirty && vm.settingsForm.business_profie.$invalid}" class="login-form__inp__wrap">
                <p class="contact__form__inp flex">
                    <label for="formEmail" class="contact__form__lab flex align-center justify-center"><i class="fa fa-suitcase" aria-hidden="true"></i></label>
                    <select class="contact__form__el" ng-disabled = "false" ng-model="vm.settings.business_profile" name="business_profile" ng-options="name as name for name in vm.business_profiles">
                        <option value="">Choose business profile...</option>
                    </select>
                </p>
                <p class="form-error" ng-show="vm.settingsForm.business_profie.$dirty && vm.settingsForm.business_profie.$error.required">Please, select Manufacturing overhead calculation base</p>
            </div>
            <hr class="dayily__hr _methods_cor _login_cor">
            <input type="submit" class="features__anchor _sub_cor _no_margin _new_one_cor" ng-click="vm.updateSettings()" ng-disabled="vm.settingsForm.$invalid" value="{{ vm.buttonText }}" />
        </ng-form>
        </form>
        <div class="login-form _settings_cor _bot_cor flex column">
            <a class="login-form__bot__but features__anchor flex align-center justify-center" ng-click="vm.changePassword()">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i><span>Change password</span>
            </a>
            <a class="login-form__bot__but features__anchor flex align-center justify-center" ng-click="vm.deleteAccount()">
                <i class="fa fa-trash" aria-hidden="true"></i><span>Delete account</span>
            </a>
        </div>
</div>