<p><h3 class="text-center"><u><b>Checkups</b></u></h3></p>
<p class="text-justify">Every costing project report you create using <b>COSTANSWER</b> online software is protected by 2 logic self-testing checkups:</p>
<ol class="quick-start">
    <li>Cost of goods manufactured = Cost of all batches.</li>
    <li>Full cost of fixed manufacturing overhead = Total fixed manufacturing overhead  allocated to all goods.</li>
</ol>
<p class="text-justify">Every product report also has 2 logic checkups:</p>
<ol class="quick-start">
    <li>Variable cost unit + Fixed cost unit = Cost of goods manufactured (COGM) per  unit.</li>
    <li>Variable cost batch + Fixed cost batch = Cost of goods manufactured (COGM) per batch.</li>
</ol>
<p class="text-justify"><b>WARNING:</b> In case if you see an <b>ERROR</b> instead of <b>OK</b> in your report’s checkup section, please, <b>DO NOT</b> take this report into a business consideration, but inform <b>COSTANSWER</b> about the mistake as soon as possible. If you put calculation results that have <b>ERROR</b> index in your report’s checkup section into a business consideration, <b>in no event will COSTANSWER or its contractors be liable to you or any other party for any direct, indirect, special, consequential or exemplary damages, regardless of the basis or nature of the claim (see Terms of Use page).</b></p> 






      

