<main class="container grow-full">
	<h2 class="main__title">Checkups</h2>
	<p class="main__text">Every costing project report you create using <b>COSTANSWER</b> online software is protected by 2 logic self-testing checkups:</p>
	<ul class="quick-start">
		<li>Cost of goods manufactured = Cost of all batches</li>
		<li>Full cost of fixed manufacturing overhead = Total fixed manufacturing overhead allocated to all goods</li>
	</ul>
	<p class="main__text _margin_cor">Every product report also has 2 logic checkups:</p>
	<ul class="quick-start">
		<li>Variable cost unit + Fixed cost unit = Cost of goods manufactured (COGM) per unit</li>
		<li>Variable cost batch + Fixed cost batch = Cost of goods manufactured (COGM) per batch</li>
	</ul>
	<p class="main__text _margin_cor"><b>WARNING:</b> If you see <b>ERROR</b> instead of <b>OK</b> in your report’s checkup section, <b>DO NOT</b> use this report, but inform <b>COSTANSWER </b> as soon as possible. If you make any business decisions on the basis of calculation results that have an <b>ERROR</b> index in your report’s checkup section, <b>under no circumstances will COSTANSWER or its contractors be liable to you or any other party for any direct, indirect, special, consequential or exemplary damages, regardless of the basis or nature of the claim (see the Terms of Use page)</b>.</p>
</main>





      

