<main class="container grow-full">
	<h2 class="main__title">Cost analysis</h2>
	<p class="main__text"><b>COSTANSWER</b> provides each of your projects with serious cost analysis used by finance professionals.</p>
	<p class="main__text">What can these ratios and values tell you about your product or service?</p>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" class="main__table">
		<thead>
			<tr>
				<th>Indicator</th>
				<th>Explanation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Product revenue</td>
				<td>Calculated by multiplying the unit price by the number of units sold</td>
			</tr>
			<tr>
				<td>Sales mix ratio</td>
				<td>Shows relative percentage of each product your company sells</td>
			</tr>
			<tr>
				<td>Net Target Income unit</td>
				<td>Difference between unit selling price and cost of goods manufactured</td>
			</tr>
			<tr>
				<td>Net Target Income batch</td>
				<td>Difference between batch selling price and cost of goods manufactured</td>
			</tr>
			<tr>
				<td>Contribution margin unit</td>
				<td>Measures product's gross operating margin per unit in local currency</td>
			</tr>
			<tr>
				<td>Contribution margin batch</td>
				<td>Measures product's gross operating margin per batch in currency units</td>
			</tr>
			<tr>
				<td>Contribution margin ratio</td>
				<td>Measures product batch gross operating margin as a percentage</td>
			</tr>
			<tr>
				<td>Return on sales batch</td>
				<td>Measures net income earned for each dollar of sales</td>
			</tr>
			<tr>
				<td>Variable cost unit</td>
				<td>Direct materials and direct labor costs per unit</td>
			</tr>
			<tr>
				<td>Variable cost batch</td>
				<td>Direct materials and direct labor costs per batch</td>
			</tr>
			<tr>
				<td>Fixed cost unit</td>
				<td>Fixed manufacturing overheads per unit</td>
			</tr>
			<tr>
				<td>Fixed cost batch</td>
				<td>Fixed manufacturing overheads per batch</td>
			</tr>
			<tr>
				<td>Break-Even point units</td>
				<td>The volume of sales for which a business makes no profit. Expressed in units</td>
			</tr>
			<tr>
				<td>Break-Even point $</td>
				<td>The volume of sales for which a business makes no profit. Expressed in currency units</td>
			</tr>
			<tr>
				<td>Margin of safety batch $</td>
				<td>The reduction in sales that can occur before the break-even point is reached. Expressed in currency units</td>
			</tr>
			<tr>
				<td>Margin of safety batch %</td>
				<td>The reduction in sales that can occur before the breakeven point is reached. Expressed as a percentage</td>
			</tr>
			<tr>
				<td>DOL</td>
				<td>Degree of operating leverage measures how revenue growth translates into growth of operating income</td>
			</tr>
		</tbody>
	</table>
</main>


 
