<main class="container grow-full">
	<h2 class="main__title">Costing methods</h2>
	<p class="main__text">Depending on your type of business, <b>COSTANSWER</b> offers 3 costing methods to choose from, to analyze your products or services – <b>Standard costing, Process costing and Job Order costing</b>.</p>
	<p class="main__text _margin_cor">We are convinced that these 3 methods can cover 100% of your needs in costing analysis for all types of small and medium-sized businesses.</p>
	<p class="main__text">All 3 types can be used simultaneously both to forecast and to track actual results at the end of each period. This provides great flexibility in your analytical capabilities and allows you to accept and track any types of manufacturing orders, both for tangible products and for services.</p>
	<p class="main__text _margin_cor">Which one is yours, and what are the differences between them?</p>
</main>