<p><h3 class="text-center"><u><b>Direct vs indirect</b></u></h3></p>
<p class="text-justify"><b>In relationship to cost units</b>, costs can be either <b>Direct</b> or <b>Indirect</b> depending on the type of participation in the creation of product or service. Direct costs include a labor cost directly associated with product or service, cost of raw materials and cost of utilities like water or electricity. Indirect costs include mostly overhead expenses.</p>
<p class="text-justify">To simplify user data input, <b>COSTANSWER</b> grouped all indirect materials and labor in fixed manufacturing overhead directory (FMOH).</p>




 
