<main class="container grow-full">
	<h2 class="main__title">Direct vs indirect</h2>
	<p class="main__text"><b>In relation to cost units</b>, costs can be either <b>Direct</b> or <b>Indirect</b> depending on the type of participation in the creation of a product or service. Direct costs include the labor cost directly associated with a product or service, the cost of raw materials and cost of utilities like water or electricity. Indirect costs include mostly overhead expenses.</p>
	<p class="main__text _margin_cor">To simplify user data input, <b>COSTANSWER</b> groups all indirect materials and labor costs in the fixed manufacturing overhead (FMOH) directory.</p>
</main>