<p><h3 class="text-center"><u><b>Fixed manufacturing overhead allocation</b></u></h3></p>
<p class="text-justify">Allocation (distribution) of company <b>fixed manufacturing overhead</b> to products and services is really tricky and challenging. Fixed manufacturing overhead relates to a production as a whole.  As a result, overhead costs can be absorbed (allocated, apportioned, distributed) by a specific product or a job depending on different cost driving bases (allocation bases).</p>
<p class="text-justify"><b>COSTANSWER</b> uses 5 types of fixed manufacturing overhead (MOH) allocation bases – direct labor, direct materials, number of working hours, prime cost and number of machine hours.</p>
<p class="text-justify">Also <b>COSTANSWER</b> uses 2 approaches to apply manufacturing overhead – <b>“full cost applied”</b> and <b>“predetermined overhead rate”</b>. What is the difference?</p>
<p class="text-justify">We have divided data entry of fixed manufacturing overhead into 8 groups – indirect labor, indirect materials, rent, amortization and others. If you <b>know</b> the exact values of these 8 groups in coming months, you can enter them using <b>“full cost applied”</b> button. </p>
<p class="text-justify">If you do not know the exact cost of manufacturing overheads, you can use <b>“predetermined overhead rates”</b> button to calculate the <b>approximate (!)</b> number of indirect costs per each product or service in your product mix.</p>
<p class="text-justify">For example, you might estimate that in upcoming fiscal year the total cost of all 8 groups will be $1 000 000 and the annual amount of direct labor will cost $800,000. As a result, you can set the predetermined overhead rate using  allocation base of “number of working hours” at 1000000/800000*100% = 125%. It means that for every dollar of direct labor, you will assign $1,25 (125%) of manufacturing overhead to a product or service.</p>
<p class="text-justify">The use of a predetermined overhead rate enables the company to quickly determine the <b>approximate</b> total cost of each product or service it produces or delivers.</p>
<p class="text-justify">Of course there will always be a difference between the actual overhead cost incurred during the period and the amount of overhead applied using predetermined overhead rates. <b>COSTANSWER variance analysis</b> tracks such differences and shows whether actual fixed MOH was <b>over-applied</b> or <b>under-applied</b> per project and per product or service.</p>
<p class="text-justify">Using the logic of forecasting vs actual result, <b>COSTANSWER</b> allows to use predetermined overhead rate <b><u>only in FORECAST time mode for all 3 costing methods.</u></b></p>
<p class="text-justify">It is not hard to define and assign fixed manufacturing overhead to a product or a service that is using predetermined overhead rates. But how to find the proper amount of fixed manufacturing overhead that should be assigned to each product or service using <b>“full cost applied”</b> button if your product mix consists of 30, 50, 100, or even of 1000 items?</p>
<p class="text-justify">There are several mathematical approaches to solve this problem and these algorithms are used by all ERPs and accounting systems available on the market. </p>
<p class="text-justify">Imagine you are producing 3 different products. Your monthly costs incurred:</p>
<p class="text-justify">Product #1: direct materials cost incurred is $324 per batch, direct labor per batch - $234, batch quantity manufactured – 19 units.</p>
<p class="text-justify">Product #2: direct materials cost incurred is $240 per batch, direct labor per batch - $210, batch quantity manufactured – 23 units.</p>
<p class="text-justify">Product #3: direct materials cost incurred is $167 per batch, direct labor per batch - $256, batch quantity manufactured – 27 units.</p>
<p class="text-justify">Your monthly recorded and “fully applied” fixed manufacturing overhead cost is $1500.</p>
<p class="text-justify">Question: how would you allocate fixed MOH among 3 different products? What logical approach would you choose to find a proper “portion” of fixed MOH for each product?</p>
<p class="text-justify"><b>COSTANSWER</b> uses a so-called “multiple allocation” method to distribute an appropriate portion of indirect costs to every product or service. This method consists of several steps of calculations. Using our example we:</p>
<p class="text-justify"><b>Step 1.</b> Select activities (driver, allocation base) to absorb fixed manufacturing overhead. We choose allocation base called  “prime cost”. Prime cost is the sum of direct materials and labor.</p>
<p class="text-justify"><b>Step 2.</b> Find the total value of prime cost for all products: $324 + $234 + $240 + $210 + $167 + $256 = $1431</p>
<p class="text-justify"><b>Step 3.</b> Find the allocation ratio % for each product.</p>
<p class="text-justify">Product 1 – (($324 + $234) / $1431) x 100% = 38,99%</p>
<p class="text-justify">Product 2 – (($240 + $210) / $1431) x 100% = 31,45%</p>
<p class="text-justify">Product 3 – (($167+$256) / $1431) x 100% = 29,56%</p>
<p class="text-justify"><b>Step 4.</b> Using allocation ratio we calculate the portion of manufacturing overhead per each product batch.</p>
<p class="text-justify">Product 1 – ($1500/100%) x 38,99% = $584,90</p>
<p class="text-justify">Product 2 – ($1500/100%) x 31,45% = $471,70</p>
<p class="text-justify">Product 3 – ($1500/100%) x 29,56% = $443,40</p>
<p class="text-justify"><b>Step 5.</b> Now, let’s find out the manufacturing cost per unit:</p> 
<p class="text-justify">Product 1 – ($324 + $234 + $584,90) / 19 = $60,15</p>
<p class="text-justify">Product 2 – ($240 + $210 +$471,70) / 23 = $40,07</p>
<p class="text-justify">Product 3 – ($167 + $256 + $443,40) / 27 = $32,08</p>
<p class="text-justify">The complexity of this approach allows to allocate fixed manufacturing overhead in a more accurate way. COSTASWER allows to allocate fixed manufacturing overhead to hundreds of products you produce after you choose allocation base.</p> 
<p class="text-justify">Our “multiple allocation” method works automatically in both <b>forecast</b> and <b>actual</b> time modes after you press <b>“full cost applied”</b> button.</p>

 














 












 

