<main class="container grow-full">
	<h2 class="main__title">Fixed manufacturing overhead allocation</h2>
	<div class="black__orange">
		<p class="main__text">Allocation (distribution) of company <b>fixed manufacturing overhead</b> to products and services is quite a challenge. Fixed manufacturing overhead relates to production as a whole. As a result, overhead costs can be absorbed (allocated, apportioned, distributed) to a specific product or job depending on different cost driving bases (allocation bases). </p>
		<p class="main__text"><b>COSTANSWER</b> uses 5 types of fixed manufacturing overhead (MOH) allocation bases – direct labor, direct materials, cost of direct labor, prime cost and number of machine hours.</p>
		<p class="main__text"><b>COSTANSWER</b> also uses 2 approaches to apply manufacturing overhead – <b>“full cost applied”</b> and <b>“predetermined overhead rate.”</b> What is the difference?</p>
		<p class="main__text">We have divided data entry of fixed manufacturing overhead into 8 groups – indirect labor, indirect materials, rent, amortization and others. If you <b>know</b> the exact values of these 8 groups in the coming months, you can enter them using the <b>“full cost applied”</b> button.</p>
		<p class="main__text">If you <b>do not know</b> the exact cost of manufacturing overheads, you can use the <b>“predetermined overhead rates”</b> button to calculate the <b>approximate (!)</b> amount of indirect costs per product or service in your product mix.</p>
	</div>
	<div class="black__orange">
		<p class="main__text _margin_cor">For example, you might estimate that in upcoming fiscal year the total cost of all 8 groups will be $1,000,000 and the annual cost of direct labor will be $800,000. As a result, you can set the predetermined overhead rate using an allocation base of “cost of direct labor” at 1,000,000/800,000*100% = 125%. This means that for every dollar of direct labor, you will assign $1.25 (125%) of manufacturing overhead to a product or service.</p>
		<p class="main__text">The use of a predetermined overhead rate enables the company to quickly determine the <b>approximate</b> total cost of each product or service it produces or delivers.</p>
		<p class="main__text">Of course, there will always be a difference between the actual overhead cost incurred during the period and the amount of overhead applied using predetermined overhead rates. <b>COSTANSWER variance analysis</b> tracks such differences and shows whether actual fixed MOH was <b>over-applied</b> or <b>under-applied</b> per project and per product or service.</p>
		<p class="main__text">Using the logic of forecasting vs actual result, <b>COSTANSWER</b> allows you to use a predetermined overhead rate <b>only in FORECAST time mode for all 3 costing methods</b>.</p>
		<p class="main__text">It is not hard to define and assign fixed manufacturing overhead to a product or a service that uses predetermined overhead rates. But how can you find the proper amount of fixed manufacturing overhead that should be assigned to each product or service using the <b>“full cost applied”</b> button if your product mix consists of 30, 50, 100, or even 1,000 items?</p>
		<p class="main__text">There are several mathematical approaches to solving this problem, and these algorithms are used by all ERPs and accounting systems available on the market.</p>
		<p class="main__text">Imagine you are making 3 different products. Your monthly costs incurred:</p>
		<ul class="quick-start">
			<li>Product #1: direct materials cost incurred is $324 per batch, direct labor per batch - $234, batch quantity manufactured – 19 units</li>
			<li>Product #2: direct materials cost incurred is $240 per batch, direct labor per batch - $210, batch quantity manufactured – 23 units</li>
			<li>Product #3: direct materials cost incurred is $167 per batch, direct labor per batch - $256, batch quantity manufactured – 27 units</li>
		</ul>
		<p class="main__text _margin_cor">Your monthly recorded and “fully applied” fixed manufacturing overhead cost is $1,500.</p>
		<p class="main__text">Question: how would you allocate fixed MOH among the 3 different products? What logical approach would you choose to find the proper “portion” of fixed MOH for each product?</p>
	</div>
	<div class="black__orange">
		<p class="main__text _margin_cor"><b>COSTANSWER</b> uses the so-called “multiple allocation” method to distribute an appropriate portion of indirect costs to each product or service. This method consists of several steps of calculations. Using our example we:</p>
		<ul class="quick-start">
			<li><b>Step 1.</b> Select activities (driver, allocation base) to absorb fixed manufacturing overhead. We choose the allocation base called “prime cost”. Prime cost is the sum of direct materials and labor</li>
			<li><b>Step 2.</b> Find the total value of prime cost for all products: $324 + $234 + $240 + $210 + $167 + $256 = $1,431</li>
			<li><b>Step 3.</b> Find the allocation ratio % for each product.<br/>Product 1 – (($324 + $234) / $1,431) x 100% = 38.99%<br/>Product 2 – (($240 + $210) / $1,431) x 100% = 31.45%<br/>Product 3 – (($167+$256) / $1,431) x 100% = 29.56%<br/></li>
			<li><b>Step 4.</b> Using the allocation ratio we calculate the portion of manufacturing overhead for each product batch.<br/>Product 1 – ($1,500/100%) x 38.99% = $584.90<br/>Product 2 – ($1,500/100%) x 31.45% = $471.70<br/>Product 3 – ($1,500/100%) x 29.56% = $443.40</li>
			<li><b>Step 5.</b> Now, let’s find out the manufacturing cost per unit.<br/>Product 1 – ($324 + $234 + $584.90) / 19 = $60.15<br/>Product 2 – ($240 + $210 +$471.70) / 23 = $40.07<br/>Product 3 – ($167 + $256 + $443.40) / 27 = $32.08</li>
		</ul>
		<p class="main__text _margin_cor">The complexity of this approach allows us to allocate fixed manufacturing overhead in a more accurate way. <b>COSTASWER</b> allows you to allocate fixed manufacturing overhead to hundreds of products.</p>
		<p class="main__text">Our “multiple allocation” method works automatically in both <b>forecast</b> and <b>actual</b> time modes after you press the <b>“full cost applied”</b> button.</p>
		<a ui-sref="startCore" class="main__anchor">START</a>
	</div>
</main>