<main class="container grow-full">
	<h2 class="main__title">Job order costing</h2>
	<p class="main__text">This is probably the most suitable method for small craft businesses, repair shops, service firms, etc. This method is a form of specific order costing, and is used when a customer orders a specific job to be done. Where each job is priced separately and each job is <b>unique</b>.</p>
	<p class="main__text">The main target of job order costing is to identify the costs associated with completing the order and to record them carefully.</p>
	<p class="main__text">The actual prices of jobs are calculated by adding a certain amount of profit on top of the cost of the job.</p>
	<p class="main__text">The job order costing method measurement is calculated for each completed job (order), rather than for set time periods. That means that one job will last until the end of order completion.</p>
	<p class="main__text _margin_cor">As far as the final objective of calculations, the result is going to be a tangible product or delivered service. <b>COSTANSWER</b>’s approach to this method implies the creation of an “order” which includes 1, 2, 3 or more products or services as part of the order.</p>
	<a ui-sref="startCore" class="main__anchor">START</a>
</main>