<p><h3 class="text-center"><u><b>Job order costing</b></u></h3></p>
<p class="text-justify">This is, probably, the most suitable method for small craft businesses, repair shops, service firms, etc. This method is a form of specific order costing and it is used when a customer orders a specific job to be done. Where each job is priced separately and each job is <b>unique</b>.</p>
<p class="text-justify">The main target of job order costing is to identify the costs associated with completing the order and to record them carefully.</p>
<p class="text-justify">The actual prices of jobs are calculated by adding a certain amount of profit on top of the cost of the job.</p>
<p class="text-justify">A job order costing method measurement is calculated for each completed job (order), rather than for set time periods. That means, that one job will last to the end of order completion.</p>
<p class="text-justify">As far as the final objective of calculations, the result is going to be a tangible product or delivered service. <b>COSTANSWER</b> approach to this method implies the creation of “order” which includes 1, 2, 3 and more products or services as part of the order.</p>
<p class="text-center">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 text-center about-menu">
       <a ui-sref="startCore">START</a>
    </div>
</p>