<main class="container grow-full">
	<h2 class="main__title">“Per Month” or “Per Batch” approach</h2>
	<p class="main__text"><b>COSTANSWER</b> allows you to enter raw materials and labor hour values using either the “Per Month” or the “Per Batch” approach.</p>
	<p class="main__text _margin_cor">For example, you know that you need 800 square feet of denim to manufacture a “batch” of 45 pairs of jeans. And it takes 2 days to make that quantity.</p>
	<p class="main__text">Or you can know that in order to manufacture 1,400 pairs of jeans per month, you need 2,600 square feet of denim.</p>
	<p class="main__text">In both cases it means that your product can be evaluated as a <b>standard quantity</b> of units (per batch or per month) at the data entry stage corresponding to the <b>standard volume</b> of purchased and assigned raw materials, applied labor hours and manufacturing overhead.</p>
	<p class="main__text _margin_cor">Of course, in some cases it’s more convenient to “assemble” the cost of the product using the “per unit” approach. You can easily achieve this if you simply consider 1 unit as a batch of units at the data entry stage.</p>
</main>