<p><h3 class="text-center"><u>Product cost vs service cost</u></h3></p>
<p class="text-justify"><b>COSTANSWER</b> allows you to track and measure either the cost of products or services (operations) your business generates. There are several main differences between the 'output' of service and manufacturing products:</p>
<ul>
    <li>service output has the form of 'performance' rather than 'tangible' goods.</li>
    <li>the nature and quality (recipe ingredients) of the service will vary due to  high human input.</li>
    <li>the service you require cannot be inspected in advance.</li>
    <li>the service you require cannot be stored.</li>
</ul>
<p class="text-justify">Also, one of the main difficulties in calculating the service cost is the establishment of a suitable cost unit. Sometimes it may be necessary to calculate a so-called “composite” cost per unit - for example “patient-days”, “passenger-miles”, “guest-days”, “meals served”, etc.</p>
<p class="text-justify">In any case, service/operations costing elements can include the cost of direct materials, labor and manufacturing overhead in the same way as it happens with manufacturing products. However, there might be some services where labor or manufacturing overhead are the only direct costing elements involved.</p> 
<p class="text-justify">Also, these costs can be variable or fixed, as we mentioned before. The cost of one service unit is calculated the same way as the cost of one tangible product - by establishing the total costs involved in providing the service and dividing it by the number of service units used in providing the service.</p>
