<main class="container grow-full">
	<h2 class="main__title">Product cost vs service cost</h2>
	<p class="main__text"><b>COSTANSWER</b> allows you to track and measure the cost of products or services (operations) your business generates. There are several main differences between the “output” of service and manufacturing products:</p>
	<ul class="quick-start">
		<li>Service output has the form of “performance” rather than tangible goods</li>
		<li>The nature and quality (recipe ingredients) of a service will vary due to high human input</li>
		<li>A service cannot be inspected in advance</li>
		<li>A service cannot be stored</li>
	</ul>
	<p class="main__text _margin_cor">Also, one of the main difficulties in calculating a service’s cost is the establishment of a suitable cost unit. Sometimes it may be necessary to calculate a so-called “composite” cost per unit - for example “patient-days,” “passenger-miles,” “guest-days,” “meals served,” etc.</p>
	<p class="main__text">In any case, service/operations costing elements can include the cost of direct materials, labor and manufacturing overhead in the same way as manufacturing products do. However, there may be some services where labor or manufacturing overhead are the only direct costing elements involved.</p>
	<p class="main__text">Also, these costs can be variable or fixed, as we mentioned before. The cost of one service unit is calculated the same way as the cost of one tangible product - by establishing the total costs involved in providing the service and dividing it by the number of service units used in providing the service.</p>
</main>