<main class="container grow-full">
	<h2 class="main__title">Variable manufacturing overhead</h2>
	<p class="main__text">Manufacturing overhead can be broken into 2 types – <b>fixed manufacturing overhead</b> and <b>variable manufacturing overhead</b>.</p>
	<p class="main__text">Fixed manufacturing overhead costs occur in every accounting period regardless of the number of products you manufacture.</p>
	<p class="main__text">Variable manufacturing overhead depends strictly on the number of units produced, and reflects some costs that can be entirely assigned to the total batch of product or service – for example the cost of batch transportation, batch customs duties, batch shipment cost, the cost of electricity to produce a batch, water, lubricants or outsourced services.</p>
</main>