<p><h3 class="text-center"><u><b>Variable vs fixed</b></u></h3></p>
<p class="text-justify"><b>The behavior</b> of costs can be <b>Variable</b> or <b>Fixed</b>. Variable costs fluctuate depending on the volume of sales or production. That includes direct materials and utilities, direct labor salaries and any other direct and indirect costs that will change depending on actual production or sales volume.</p>
<p class="text-justify">Fixed costs incur no matter what level of production or sales you are generating. Costs like rent, insurance, lease payments, office administration salaries would all be examples of fixed costs.</p>
<p class="text-justify">Why is it important for any type of business to trace the volumes of variable and fixed costs carefully? The answer is evident - high number of fixed expenses must be paid out of the company's cash regardless of volume of sales. That is why you have to review all your operations carefully, to identify and avoid excessive fixed expenses.</p>




