<main class="container grow-full">
	<h2 class="main__title">What is COSTANSWER?</h2>
	<p class="main__text"><b>COSTANSWER</b> is a decision-making tool. It is a unique and flexible helper for most of your needs in costing and budgeting. Using our software you can:</p>
	<ul class="quick-start">
		<li>Make costing calculations for an unlimited number of products or services and their components – direct materials, direct labor and manufacturing overhead</li>
		<li>Use the 3 most widely used costing methods simultaneously, for your accounting period, depending on your type of business or the type of customer orders you receive</li>
		<li>Create an annual manufacturing plan (forecast) to project all your expenditures on direct materials, labor and manufacturing overheads</li>
		<li>Arrange monthly monitoring of actual expenditures on direct materials, labor and manufacturing overheads</li>
		<li>Compare plans with actual results using variance analysis</li>
		<li>Model up to 5 different bases for manufacturing overhead allocation</li>
		<li>Find out the values of predetermined overhead rates to simplify your forecasting procedure</li>
		<li>Calculate the correct mark-up of each product or service, to make your business profitable and competitive at the same time</li>
		<li>Make sales assumptions or trace actual sales results for each product or service to analyze the total volume of your revenue, cost of goods sold and gross profit</li>
		<li>Produce a detailed professional cost analysis report for each product or service, total sales and manufacturing plans</li>
	</ul>
	<p class="main__text _margin_cor"><b>COSTANSWER</b> is not an ERP or an accounting program. At least for the moment.</p>
</main>