<main class="container grow-full">
	<h2 class="main__title">Which is the right method for you?</h2>
	<p class="main__text">Don't be afraid to make a mistake. You can make cost analysis of the same product or service using all 3 methods just to understand which one suits your business in the best way. The table below summarizes methods’ differences and similarities:</p>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" class="main__table _max_cor">
		<thead>
			<tr>
				<th>Feature</th>
				<th>Job order costing</th>
				<th>Process costing</th>
				<th>Standard costing</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Object of calculation</td>
				<td>Order</td>
				<td>Process</td>
				<td>Product</td>
			</tr>
			<tr>
				<td>Unit-cost computations</td>
				<td>Cost of each job + Units produced for the job</td>
				<td>Total manufacturing costs + Equivalent units produced during the period</td>
				<td>Total manufacturing costs + Units produced during the period</td>
			</tr>
			<tr>
				<td>Type of manufacturing</td>
				<td>Unique orders</td>
				<td>Mass production</td>
				<td>Mass production</td>
			</tr>
			<tr>
				<td>Accounting period</td>
				<td>By the end of order completion</td>
				<td>Month/year</td>
				<td>Month/year</td>
			</tr>
			<tr>
				<td>Determination of total manufacturing costs</td>
				<td>By job</td>
				<td>By time period</td>
				<td>By time period</td>
			</tr>
		 </tbody>
	</table>
</main>