<div class="row m-t-10px">
    <div ng-cloak ng-show="productsList.length > 0" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-left p-l-0px">
        <button class="btn btn-costanswer btn-lg" aria-label="Left Align" ui-sref="standard.newProduct" title="Add product or service">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 text-left p-l-0px">
        <div ca-product-menu name-property="nameProperty" display-block="5" items-list="productsList" on-delete="onDelete"></div>
    </div>
    <!-- div ca-footed-tabs tabs-list="moh_category" initial-state="{{initialState}}"></div -->
    <!-- div class="col-xs-12">
        <ul class="nav nav-tabs costanswer">
            <li role="presentation" ng-repeat = "item in moh_category track by item.id" ui-sref="{{ item.sref }}" ui-sref-active="active"><a class="inactive-tab" >{{ item.name }}</a></li>
        </ul>
    </div -->
</div>
<div class="row moh-data-input ui-view-container">
    <div ui-view></div>
</div>
<div class="row m-t-10px">
    <div class="col-md-12 col-lg-12 text-center hidden-xs hidden-sm">
        <button type="button" class="btn btn-md btn-costanswer" ng-click="clearAll()"> Clear All </button>
        <button type="button" class="btn btn-md btn-costanswer"> Save </button>
        <button type="button" class="btn btn-md btn-costanswer"> Save as... </button>
        <button type="button" class="btn btn-md btn-costanswer"> Project Report </button>
    </div>
        <div class="btn-group costanswer col-xs-12 col-sm-12 text-center hidden-md hidden-lg">
            <button type="button" class="btn btn-costanswer btn-lg btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action menu <span class="caret"></span>
            </button>
        <ul class="dropdown-menu col-xs-12 col-sm-12">
            <li><a ng-click="clearAll()"> Clear All </a></li>
            <li><a href="#"> Save </a></li>
            <li><a href="#"> Save as... </a></li>
            <li><a href="#"> Project Report </a></li>
        </ul>
        </div>
</div>