<div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <a class="glyphicon glyphicon-plus toolset add" title="Add"></a>
        <a class="glyphicon glyphicon-remove toolset remove" title="Remove"></a>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <a class="glyphicon glyphicon-chevron-left toolset" title="Backward"></a>
        
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <a class="glyphicon glyphicon-chevron-right toolset" title="Forward"></a>
    </div>
</div>