<div ng-show="productionMachineryRent.length > 0" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h4>Choose rent:</h4>
        </div>
</div>
<div ca-thumbler name-property="nameProperty" display-block="5" items-list="productionMachineryRent" item-form="itemForm" item-model="form" controls="controls"></div>
<div class="row">
    <ng-form id="item-form" name="itemForm">
        <div class="col-xs-12 col-md-12 col-lg-12 text-center">
            <label for="rentName" class="text-center m-b-20px">Type of rental:</label>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
		<div ng-class="{'has-error': itemForm.rentName.$dirty && itemForm.rentName.$invalid}" class="form-group">
			<input name="rentName" maxlength="20" type="text" ng-required="true" ng-model="form.rentName" class="form-control costanswer" placeholder="Name" />
			<div class="help-block error" ng-show="itemForm.rentName.$dirty && itemForm.rentName.$error.required">Please, fill in Name of Rent</div>
		</div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 text-center">
            <label for="monthlyPayment" class="text-center m-b-20px">Monthly payment:</label>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
		<div ng-class="{'has-error': itemForm.monthlyPayment.$dirty && itemForm.monthlyPayment.$invalid}" class="form-group">
            <input name="monthlyPayment" type="number" ng-required="true" min="0.01" ng-model="form.monthlyPayment" class="form-control costanswer" placeholder="$" />
			<div class="help-block error" ng-show="itemForm.monthlyPayment.$dirty && itemForm.monthlyPayment.$invalid">Please, fill in Monthly payment</div>
		</div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center">
            <button type="button" ng-disabled="itemForm.$invalid" class="btn btn-costanswer btn-lg" ng-click="controls.addItem(form)"> {{ controls.buttonText }} </button>
        </div>
    </ng-form>
</div>