<div ng-cloak ng-hide="vm.success" class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <div><h3>Password recovery</h3></div>
    </div>
</div>
<div ng-cloak ng-show="!vm.success" class="row">
    <div class="col-xs-4 col-xs-offset-4">
		<ng-form id="recovery-form" name="vm.recoveryForm">
			<div ng-class="{'has-error': vm.recoveryForm.email.$dirty && vm.recoveryForm.email.$invalid}" class="form-group has-feedback has-feedback-left">
					<input name="email" type="email" ng-required="true" ng-model="vm.auth.email" class="form-control costanswer" placeholder="Enter your email here" />
					<i class="glyphicon glyphicon-envelope form-control-feedback costanswer"></i>
				<div class="help-block error" ng-show="vm.recoveryForm.email.$dirty && vm.recoveryForm.email.$error.required">Please, fill in your email</div>
			</div>
			<div class="form-group">
				<input type="button" class="btn btn-lg btn-costanswer btn-block" ng-click="vm.requestRecovery()" ng-disabled="vm.recoveryForm.$invalid" value="{{ vm.buttonText }}" />
			</div>
		</ng-form>
    </div>
</div>
<div ng-cloak ng-show="vm.success" class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <h3 class="text-center">{{ vm.messageHeader }}</h3>
        <p class="text-center"><b>{{ vm.messageText }}</b></p>
    </div>
</div>