<div class="row m-t-10px">
    <div ca-thumbler name-property="$ctrl.nameProperty" display-block="5" items-list="$ctrl.itemsList" item-form="form" item-model="$ctrl.model" controls="$ctrl.controls" on-save="$ctrl.onSave" on-update="$ctrl.onUpdate" on-delete="$ctrl.onDelete" on-load="$ctrl.onLoad" on-clear="$ctrl.onClear"></div>
</div>
<div class="row">
    <form name="$ctrl.form" novalidate>
    <fieldset ng-disabled="$ctrl.controls.formDisabled">
        <formly-form form="$ctrl.form" model="$ctrl.model" fields="$ctrl.settings" options="$ctrl.formOptions">
            <div class="col-xs-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center">
                <button type="button" ng-click="$ctrl.controls.addItem($ctrl.model)" class="btn btn-costanswer" ng-disabled="settingsForm.$invalid">{{ $ctrl.controls.buttonText }}</button>
            </div>
        </formly-form>
    </fieldset>
    </form>
</div>
<div data-ng-show="$ctrl.instantReport" ca-instant-report report-data="$ctrl.instantReport"></div>